@font-face {
  font-family: 'ProbaPro-Regular';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ProbaPro-Regular.woff2') format('woff2'),
    url('/fonts/ProbaPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'ProbaPro-Medium';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ProbaPro-Medium.woff2') format('woff2'),
    url('/fonts/ProbaPro-Medium.woff') format('woff');
}
@font-face {
  font-family: 'ProbaPro-Bold';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ProbaPro-Bold.woff2') format('woff2'),
    url('/fonts/ProbaPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'FuturaPT-Bold';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('/fonts/FuturaPT-Bold.woff') format('woff');
}
