@import 'vars';

@media (max-width: 1200px) {
  .tabs__item {
    max-width: 100%;
  }
  .tabs__img {
    width: 100%;
  }
  .feedback__swiper {
    margin-top: 22px;
    width: 386px;
  }
  .feedback__item {
    padding: 15px 36px 30px;
  }
  .feedback__author-name {
    margin-top: 15px;
  }
  .feedback__author-descr {
    margin-top: 10px;
  }
  .feedback__text {
    margin-top: 25px;
    font-size: 18px;
  }
  .feedback__text-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .about__left {
    width: 410px;
    max-width: 100%;
  }
  .form {
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .title {
    padding-bottom: 8px;
  }
  .hero {
    background: #def1ee url(/images/content/hero-bg.png) no-repeat
      calc(50vw + 50px) 100%;
  }
  .stories,
  .instagram {
    margin-top: 80px;
  }
  .stories__item {
    flex: 0 0 230px;
    width: 230px;
    height: 230px;
    background-size: cover;
  }
  .stories__item + .stories__item {
    margin-left: 16px;
  }
  .stories__item--active {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 5px #ff7a50;
    margin-right: 5px;
  }
  .stories__item--active + .stories__item--active {
    margin-left: 21px;
  }
  .stories__title {
    width: 200px;
  }
  .process,
  .menu,
  .feedback,
  .about {
    padding-top: 80px;
  }
  .process__items {
    gap: 60px 16px;
  }
  .process__item {
    padding: 32px 41px 32px 30px;
  }
  .process__item--long {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
  }
  .process__img {
    align-self: center;
    margin-left: -20px;
  }
  .process__text--long {
    margin-right: auto;
    width: 554px;
  }
  .process__text-title {
    display: inline-block;
    white-space: nowrap;
  }
  .process__span {
    margin-top: 20px;
  }
  .process__item:first-child::after {
    left: 87%;
  }
  .process__item:nth-child(2)::after {
    width: 491px;
    height: 60px;
  }
  .tabs {
    margin-top: 20px;
  }
  .tabs__nav-item {
    padding: 17px;
  }
  .tabs__content {
    grid-gap: 13px 16px;
    margin-top: 40px;
  }
  .instagram__items {
    margin-top: 40px;
    grid-gap: 16px;
  }
  .footer {
    margin-top: 80px;
  }
  .footer__item + .footer__item {
    margin-left: 20px;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 18px;
  }
  .header__nav,
  .header__search {
    display: none;
  }
  .header__btn-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .header__line {
    width: 100%;
    height: 3px;
    background: $dark-blue;
    border-radius: 2px;
  }
  .header__btn-mobile--active {
    width: 20px;
    height: 20px;
    background: $dark-blue;
    border-radius: 50%;
  }
  .header__btn-mobile--active .header__line {
    background: #fff;
    width: 12px;
    height: 2px;
    transition: background 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  }
  .header__btn-mobile--active .header__line:nth-child(2) {
    opacity: 0;
  }
  .header__btn-mobile--active .header__line:first-child {
    transform: rotate(45deg) translateY(6.4px) translateX(6.4px);
  }
  .header__btn-mobile--active .header__line:last-child {
    transform: rotate(-45deg) translateY(-6.4px) translateX(6.2px);
  }
  .header__nav--visible {
    position: fixed;
    display: block;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 70px;
    margin-left: 0;
    padding-top: 49px;
    padding-left: 25px;
    background-color: #fff;
  }
  .header__nav--visible .header__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__item + .header__item {
    margin-left: 0;
    margin-top: 40px;
  }
  .header__list {
    font-size: 36px;
    font-family: 'FuturaPT-Bold', sans-serif;
    font-weight: 700;
    text-transform: initial;
  }
  .header__link--phone {
    display: none;
  }
  .footer--visible .footer__social {
    position: fixed;
    left: 25px;
    bottom: 145px;
    z-index: 14;
  }
  .footer--visible .footer__mobile {
    position: fixed;
    left: 25px;
    bottom: 111px;
    z-index: 14;
  }
  .footer--visible .footer__social-img {
    width: 40px;
    height: 40px;
  }
  .footer--visible .footer__social-item:last-child {
    margin-left: 10px;
  }
  .header__cart {
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
  }
  .hero__title {
    font-size: 54px;
  }
  .hero__text {
    width: 500px;
  }
  .title {
    font-size: 30px;
  }
  .stories__title {
    font-size: 20px;
  }
  .process__number {
    font-size: 72px;
  }
  .process__text-title {
    display: block;
    font-size: 24px;
  }
  .process__img {
    width: 120px;
    height: 120px;
  }
  .process__item:first-child::after {
    left: 95%;
  }
  .tabs {
    margin-top: 10px;
  }
  .tabs__wrapper {
    overflow-x: scroll;
    margin-right: -25px;
  }
  .tabs__nav {
    min-width: 741px;
  }
  .tabs__nav-item {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    padding: 13px 20px;
    border-radius: 5px;
    white-space: nowrap;
  }
  .tabs__content {
    grid-template-columns: repeat(2, 49%);
    grid-gap: 20px 10px;
    margin-top: 45px;
  }
  .feedback__swiper {
    width: 325px;
  }
  .feedback__img {
    width: 100px;
    height: 100px;
  }
  .feedback__author-name {
    font-size: 22px;
  }
  .feedback__author-descr {
    font-size: 16px;
  }
  .feedback__text {
    font-size: 15px;
    line-height: 18px;
  }
  .feedback__text-title {
    font-size: 18px;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__text {
    margin-top: 30px;
    font-size: 16px;
  }
  .about__right {
    margin-top: 20px;
  }
  .form__title {
    font-size: 24px;
  }
  .form__btn {
    font-size: 18px;
  }
  .footer {
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 29px;
    border: none;
  }
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    font-family: 'ProbaPro-Regular';
    font-weight: 400;
  }
  .footer__item + .footer__item {
    margin-left: 0px;
    margin-top: 10px;
  }
  .footer__social {
    margin-top: 20px;
  }
  .footer__social-img {
    width: 26px;
    height: 26px;
  }
  .footer__social-item + .footer__social-item {
    margin-left: 6px;
  }
  .footer__item:last-child {
    display: none;
  }
  .footer__mobile {
    display: block;
    margin-top: 26px;
    font-family: 'ProbaPro-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
  }
}
@media (max-height: 505px) {
  .footer--visible .footer__social {
    left: unset;
    right: 25px;
  }
  .footer--visible .footer__mobile {
    left: unset;
    right: 25px;
  }
}
@media (max-height: 390px) {
  .header__item + .header__item {
    margin-top: 0;
  }
}
@media (max-width: 850px) {
  .feedback__container {
    overflow-x: unset;
  }
  .feedback__swiper {
    margin-top: 30px;
    padding-top: 0;
    width: 100%;
    overflow-x: hidden;
  }
  .feedback__item.swiper-slide-active::before {
    position: relative;
  }
  .swiper-pagination {
    display: block;
  }
  .feedback__prev,
  .feedback__next {
    display: none;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -20px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 2.5px;
  }
  .swiper-pagination-bullet {
    background-color: #def1ee;
  }
  .swiper-pagination-bullet-active {
    background-color: $dark-blue;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 11px 0;
  }
  .header__logo {
    width: 171px;
  }
  .header__nav--visible {
    top: 57px;
  }
  .hero {
    padding: 66px 0;
    background: #def1ee url(/images/content/hero-bg-mobile.png) no-repeat;
    background-position: bottom right;
  }
  .hero__title {
    max-width: 295px;
    font-size: 36px;
  }
  .hero__text {
    max-width: 256px;
  }
  .process,
  .menu,
  .feedback,
  .about {
    padding-top: 60px;
  }
  .process__items {
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .process__item {
    padding: 23px 32px 23px 10px;
  }
  .process__item:nth-child(3) {
    position: relative;
    flex-direction: column;
    grid-column-start: inherit;
  }
  .process__text--long {
    margin-left: 0;
    width: 100%;
  }
  .process__text-title {
    position: absolute;
    top: 23px;
    left: 111px;
    right: 25px;
    line-height: 1;
    white-space: normal;
  }
  .process__span {
    margin-top: 20px;
  }
  .process__img {
    position: absolute;
    bottom: -22px;
    right: -25px;
    width: 90px;
    height: 90px;
  }
  .process__item:not(:last-child)::after {
    background-image: none;
    border-left: 2px dashed $dark-blue;
    height: 20px;
    width: 2px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .process__item:last-child::after {
    background-image: none;
  }
  .tabs__item {
    padding: 5px 4px 10px;
    min-height: 253px;
  }
  .tabs__tag {
    top: 15px;
    left: 15px;
    font-size: 15px;
  }
  .tabs__name {
    max-width: 100%;
    font-size: 18px;
  }
  .tabs__descr {
    margin-bottom: 25px;
    font-size: 15px;
  }
  .tabs__price {
    padding: 11px;
    font-size: 18px;
  }
  .instagram__items {
    margin-top: 30px;
    grid-gap: 10px;
    margin-right: -25px;
    overflow-x: scroll;
  }
  .instagram__img {
    width: 158px;
  }
  .form {
    padding: 55px;
    width: 100%;
  }
  .form__title {
    font-size: 22px;
  }
  .form__input,
  .form__textarea {
    padding: 7px 20px;
    font-size: 12px;
  }
  .form__input {
    margin-top: 30px;
    height: 28px;
  }
  .form__input + .form__input {
    margin-top: 12px;
  }
  .form__textarea {
    margin-top: 12px;
    height: 52px;
  }
  .form__btn {
    margin-top: 12px;
    height: 40px;
  }
}
@media (max-width: 568px) {
  .stories {
    margin-top: 15px;
  }
  .stories__item {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  .stories__title {
    left: 7px;
    bottom: 7px;
    max-width: 82px;
    font-size: 10px;
  }
  .stories__item + .stories__item {
    margin-left: 7px;
  }
  .stories__item--active + .stories__item--active {
    margin-left: 10px;
  }
  .stories__item--active {
    box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3.5px #ff7a50;
    margin-right: 4px;
  }
}
@media (max-width: 330px) {
  .hero__title {
    font-size: 33px;
  }
  .hero__text {
    max-width: 212px;
  }
  .process__text-title {
    position: static;
  }
  .process__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .process__text {
    margin-left: 0;
    margin-top: 10px;
  }
  .process__img {
    bottom: -15px;
    right: -15px;
    width: 70px;
    height: 70px;
  }
}
