@import 'fonts';
@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}
.page--disabled {
  overflow-y: hidden;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  @extend %probapro-regular;
  font-size: 24px;
  line-height: 1.2;
  color: $black;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1230px;
  padding: 0 25px;
  margin: 0 auto;
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(65, 64, 66, 0.5);
  z-index: 2;
}
.overlay--active {
  display: block;
  cursor: pointer;
}
.title {
  padding-bottom: 12px;
  @extend %futurapt-bold;
  font-size: 48px;
  line-height: 1;
  color: $black;
  border-bottom: 1px solid rgba(108, 186, 184, 0.4);
}

// Header start
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  z-index: 12;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  margin-right: auto;
  margin-left: 52px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @extend %probapro-bold;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
.header__item + .header__item {
  margin-left: 40px;
}
.header__link {
  transition: color 0.3s ease;
}
.header__link:hover {
  color: $dark-blue;
}
.header__link--phone {
  color: $dark-blue;
}
.header__link--phone:hover {
  color: $light-blue;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__input {
  padding: 8px;
  padding-left: 40px;
  width: 160px;
  height: 40px;
  background: #ffffff url('/images/icons/search-icon.svg') no-repeat 10px 50%;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}
.header__input::placeholder {
  color: #9e9ea6;
}
.header__input:focus {
  outline: $light-blue;
}
.header__cart {
  display: none;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: $dark-blue url('/images/icons/cart-icon.svg') no-repeat 50% 50%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.header__cart:hover {
  background: $light-blue url('/images/icons/cart-icon.svg') no-repeat 50% 50%;
}
.header__cart--filled {
  width: auto;
  padding: 5px 8px;
  padding-left: 37px;
  background-position: 5px center;
}
.header__cart--filled:hover {
  background-color: $light-blue;
  background-position: 5px center;
}
.header__cart-amount {
  display: none;
}
.header__cart-name {
  display: none;
}
.header__cart--visible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart--filled .header__cart-amount {
  display: block;
  font-size: 15px;
  color: #fff;
}
.header__btn-mobile {
  display: none;
}
.search {
  position: absolute;
  display: none;
  top: 100%;
  padding: 23px 23px 30px;
  width: 560px;
  background-color: #fff;
}
.search--visible {
  display: block;
}
.search__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.search__item + .search__item {
  margin-top: 14px;
}
.search__item-img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}
.search__item-name {
  margin-right: auto;
  margin-left: 20px;
  @extend %probapro-medium;
  font-size: 22px;
  line-height: 1;
}
.search__item-price {
  margin-left: 10px;
  @extend %probapro-bold;
  font-size: 22px;
  line-height: 28px;
  white-space: nowrap;
}
// Header end

// Hero start
.hero {
  margin-top: 15px;
  padding: 106px 0;
  background: #def1ee url('/images/content/hero-bg.png') no-repeat
    calc(50vw - 35px) 100%;
}
.hero__inner {
  width: 600px;
  max-width: 100%;
}
.hero__title {
  @extend %futurapt-bold;
  font-size: 72px;
  line-height: 1;
  color: $dark-blue;
}
.hero__text {
  width: 600px;
  max-width: 100%;
  margin-top: 40px;
}
// Hero end

// Stories start
.stories {
  margin-top: 90px;
  overflow-x: hidden;
}
.stories__items {
  padding: 10px;
}
.stories__item {
  position: relative;
  flex: 0 0 280px;
  width: 280px;
  height: 280px;
  border-radius: 30px;
  object-fit: cover;
  cursor: pointer;
}
.stories__item + .stories__item {
  margin-left: 23px;
}
.stories__item--active {
  box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 10px $orange;
}
.stories__title {
  position: absolute;
  bottom: 17px;
  left: 17px;
  width: 240px;
  @extend %probapro-bold;
  font-size: 30px;
  line-height: 1;
}
// Stories end

// Process start
.process {
  padding-top: 110px;
  overflow-x: hidden;
}
.process__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  gap: 80px 220px;
}
.process__item:nth-child(3) {
  grid-column-start: span 2;
}
.process__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 38px 32px 50px;
  background-color: #fff;
  border: 1px solid #def1ee;
  border-radius: 20px;
}
.process__item--long {
  align-items: flex-start;
  border: 3px solid #def1ee;
}
.process__number {
  @extend %futurapt-bold;
  font-size: 96px;
  line-height: 1;
  color: $light-blue;
}
.process__text {
  margin-left: 20px;
  @extend %probapro-medium;
}
.process__text--long {
  width: 700px;
  max-width: 100%;
}
.process__text-title {
  @extend %probapro-bold;
  font-size: 32px;
  line-height: 1.28;
}
.process__span {
  margin-top: 24px;
}
.process__img {
  margin-left: auto;
  transform: rotate(-20deg);
}
.process__item::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: -1;
}
.process__item:first-child::after {
  left: 100%;
  width: 222px;
  height: 2px;
  background-image: url('/images/icons/process-line-1.svg');
}
.process__item:nth-child(2)::after {
  right: 50%;
  top: 100%;
  width: 700px;
  height: 82px;
  background-image: url('/images/icons/process-line-2.svg');
}
.process__item:nth-child(4)::after {
  right: 50%;
  bottom: 100%;
  width: 2px;
  height: 82px;
  background-image: url('/images/icons/process-line-3.svg');
}
.process__item:last-child::after {
  right: 100%;
  width: 222px;
  height: 2px;
  background-image: url('/images/icons/process-line-1.svg');
}
// Process end

// Menu start
.menu,
.feedback {
  padding-top: 120px;
}
.tabs {
  margin-top: 30px;
}
.tabs__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tabs__nav-item {
  margin-right: 20px;
  margin-top: 20px;
  padding: 17px 20px;
  font-size: 26px;
  line-height: 1;
  background-color: #fff;
  border: 2px solid $dark-blue;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.tabs__nav-item:hover {
  border: 2px solid $light-blue;
}
.tabs__nav-item--active {
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
  color: #fff;
  cursor: default;
}
.tabs__nav-item--active:hover {
  border: 2px solid $dark-blue;
}
.tabs__content {
  display: none;
  grid-template-columns: repeat(4, 23.5%);
  grid-gap: 15px 20px;
  margin-top: 60px;
}
.tabs__content--active {
  display: grid;
}
.tabs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  max-width: 280px;
  min-height: 465px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid #efefef;
  cursor: pointer;
}
.tabs__tag {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 5px 8px;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  background: $orange;
}
.tabs__img {
  display: block;
  max-width: 100%;
}
.tabs__name {
  margin-top: 20px;
  width: 250px;
  max-width: 100%;
  @extend %probapro-bold;
  font-size: 22px;
  line-height: 1;
  word-wrap: break-word;
}
.tabs__descr {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: $dark-gray;
}
.tabs__price {
  margin-top: auto;
  padding: 18px;
  width: 100%;
  height: 55px;
  @extend %probapro-medium;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: $dark-blue;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.tabs__price:hover {
  background-color: $light-blue;
}
.tabs__price--old {
  margin-left: 10px;
  font-size: 18px;
  color: #e9e3e3;
  text-decoration: line-through;
}
.tabs__price--discount {
  background-color: $orange;
}
.tabs__price--discount:hover {
  background-color: lighten($orange, 10%);
}
.tabs__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 260px;
  max-width: 100%;
}
.tabs__input {
  max-width: 50px;
  border: none;
  @extend %probapro-medium;
  font-size: 22px;
  text-align: center;
  outline: none;
}
.tabs__remove,
.tabs__add {
  width: 55px;
  height: 55px;
  background-color: $dark-blue;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.tabs__remove:hover,
.tabs__add:hover {
  background-color: $light-blue;
}
.tabs__remove {
  background-image: url('/images/icons/minus.svg');
}
.tabs__add {
  background-image: url('/images/icons/plus.svg');
}
.tabs__empty {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 170px;
  margin-bottom: 80px;
  @extend %futurapt-bold;
  font-size: 48px;
  color: $dark-blue;
  text-align: center;
}
// Menu end

// Feedback start
.feedback__container {
  overflow-x: hidden;
  position: relative;
}
.feedback__swiper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 26px;
  width: 471px;
  max-width: 100%;
}
.feedback__item {
  position: relative;
  padding: 24px 37px 47px;
  width: 471px;
  background: #fff;
  border: 1px solid #def1ee;
  transform: scale(0.66);
  transform-origin: center 0;
  transition: transform 0.3s ease, background 0.3s ease,
    transform-origin 0.3s ease;
}
.feedback__item.swiper-slide-active {
  background: #def1ee;
  transform: scale(1);
}
.feedback__item.swiper-slide-active::before {
  position: absolute;
  content: '';
  width: 67px;
  height: 53px;
  right: 37px;
  top: -26px;
  background-image: url('/images//icons/quote.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.feedback__item.swiper-slide-prev,
.feedback__item.swiper-slide-next {
  transform: scale(0.66);
  transform-origin: 0 0;
}
.feedback__item.swiper-slide-prev {
  transform-origin: 100% 0;
}
.feedback__prev,
.feedback__next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 11;
}
.feedback__prev.swiper-button-disabled,
.feedback__next.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}
.feedback__prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/icons/arrow-left.svg');
}
.feedback__next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/images/icons/arrow-right.svg');
}
.feedback__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.feedback__img {
  display: block;
  width: 117px;
  height: 117px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback__author-name {
  margin-top: 25px;
  @extend %probapro-bold;
  font-size: 30px;
  line-height: 1;
}
.feedback__author-descr {
  margin-top: 12px;
  font-size: 24px;
  color: $dark-gray;
}
.feedback__text {
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
}
.feedback__text-title {
  display: block;
  @extend %probapro-medium;
  font-size: 24px;
  margin-bottom: 20px;
}
.swiper-pagination {
  display: none;
}
// Feedback end

// Instagram start
.instagram {
  margin-top: 120px;
}
.instagram__items {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.instagram__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
// Instagram end

// About us start
.about {
  padding-top: 120px;
}
.about__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.about__title {
  padding-bottom: 0;
  border-bottom: none;
}
.form__title {
  @extend %probapro-bold;
  font-size: 36px;
  line-height: 1;
  color: $black;
}
.about__text {
  margin-top: 60px;
  width: 589px;
  max-width: 100%;
  font-size: 24px;
  line-height: 1;
  color: #717171;
}
.form {
  width: 480px;
  max-width: 100%;
  padding: 73px 80px 51px 80px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid #def1ee;
}
.form__input {
  margin-top: 40px;
  padding: 11px 20px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #6cbab8;
  outline: transparent;
}
.form__input + .form__input {
  margin-top: 20px;
}
.form__textarea {
  margin-top: 20px;
  padding: 11px 20px;
  width: 100%;
  height: 77px;
  font-size: 18px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #6cbab8;
  resize: none;
  outline: transparent;
}
.form__input::placeholder,
.form__textarea::placeholder {
  @extend %probapro-medium;
  color: $dark-gray;
}
.form__btn {
  margin-top: 23px;
  width: 100%;
  height: 60px;
  @extend %probapro-medium;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: $dark-blue;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.form__btn:hover {
  background-color: $light-blue;
}
// About us end

// Footer start
.footer {
  margin-top: 120px;
  padding: 38px 0 39px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid #efefef;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @extend %probapro-bold;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
.footer__link {
  transition: all 0.3s;
}
.footer__link:hover {
  color: $dark-blue;
}
.footer__item + .footer__item {
  margin-left: 30px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__social-item + .footer__social-item {
  margin-left: 10px;
}
.footer__social-link {
  transition: opacity 0.3s ease;
}
.footer__social-link:hover {
  opacity: 0.7;
}
.footer__mobile {
  display: none;
}
// Footer end

// Cart start
.cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  width: 610px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(100%);
  z-index: 16;
  transition: transform 0.3s linear;
}
.cart--visible {
  transform: translateX(0);
}
.cart__title {
  @extend %futurapt-bold;
  font-size: 50px;
  line-height: 1.28;
  color: $dark-blue;
}
.cart__items {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.cart__items::-webkit-scrollbar {
  display: none;
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__item + .cart__item {
  margin-top: 20px;
}
.cart__img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}
.cart__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: auto;
}
.cart__name {
  flex-basis: 100%;
  @extend %probapro-medium;
  font-size: 22px;
  line-height: 1;
}
.cart__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 148px;
}
.cart__price {
  margin-top: 24px;
  @extend %probapro-bold;
  font-size: 22px;
  line-height: 1;
}
.cart__weight {
  margin-top: 24px;
  margin-left: 20px;
  font-size: 15px;
  line-height: 1;
  color: #b4b4b4;
}
.cart__remove,
.cart__add {
  width: 32px;
  height: 32px;
  background: $dark-blue no-repeat center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cart__remove:hover,
.cart__add:hover {
  background-color: $light-blue;
}
.cart__remove {
  background-image: url('/images/icons/minus.svg');
  background-size: 12px 2px;
}
.cart__add {
  background-image: url('/images/icons/plus.svg');
  background-size: 14px 14px;
}
.cart__input {
  width: 30px;
  padding: 0 5px;
  @extend %probapro-bold;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  border: none;
}
.cart__bottom {
  position: relative;
  margin-top: auto;
  width: 100%;
}
.cart__amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__amount-text {
  @extend %probapro-medium;
  font-size: 22px;
  line-height: 1;
}
.cart__amount-number {
  @extend %probapro-bold;
  font-size: 30px;
  line-height: 1;
}
.cart__btn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  max-width: 100%;
  height: 60px;
  background: $dark-blue;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  transition: background 0.3s ease;
}
.cart__btn:hover {
  background: $light-blue;
}
.cart__close {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('/images/icons/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.cart__close:hover {
  opacity: 0.7;
}
.cart__empty-text {
  align-self: center;
  margin-top: calc(50vh - 15%);
  font-size: 30px;
  color: $orange;
  text-align: center;
}
.cart__error {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1;
  color: $orange;
}
// Cart end

// Product card start
.card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  width: 880px;
  max-width: 100%;
  background-color: #fff;
  z-index: 15;
}
.card__wrapper {
  position: relative;
}
.card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  @extend %futurapt-bold;
  font-size: 30px;
  line-height: 1;
  color: $dark-blue;
}
.card__tag {
  margin-left: 42px;
  margin-right: auto;
  padding: 5px 8px;
  background: #ff7a50;
  font-size: 22px;
  color: #fff;
}
.card__close-btn {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('/images/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.card__info {
  margin-top: 41px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card__image {
  width: 313px;
  height: 218px;
  object-fit: cover;
  border-radius: 10px;
}
.card__thumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.card__thumbs-img {
  display: block;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.card__thumbs-img--active {
  border: 1px solid #ff7a50;
}
.card__thumbs-img + .card__thumbs-img {
  margin-left: 10px;
}
.text {
  margin-left: 22px;
}
.text__title {
  @extend %probapro-bold;
  font-size: 25px;
}
.text__description {
  margin-top: 20px;
  width: 345px;
  max-width: 100%;
  font-size: 18px;
}
.table {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1;
  border-spacing: 0;
}
.table__title {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: rgba(65, 64, 66, 0.51);
}
.table__data {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.table__data + .table__data,
.table__title + .table__title {
  border-left: 1px solid $light-gray;
}
.table__data:first-child,
.table__title:first-child {
  padding-left: 0;
}
.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 350px;
  max-width: 100%;
  background-color: #fff;
  border: 3px solid #f2f6f7;
}
.card__price {
  @extend %probapro-bold;
  line-height: 1;
}
.card__btn {
  width: 246px;
  height: 50px;
  background: #008f99;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.04);
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}
// Product card end

// Order card start
.order {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 60px;
  width: 900px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 20;
}
.order__wrapper {
  position: relative;
}
.order__title {
  @extend %futurapt-bold;
  font-size: 30px;
  line-height: 1;
  color: $dark-blue;
}
.order__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('/images/icons/close.svg');
  border: none;
  cursor: pointer;
}
.personal {
  margin-top: 30px;
}
.personal__title,
.address__title,
.date__title,
.pay__title {
  @extend %probapro-bold;
  font-size: 22px;
  line-height: 1;
  color: $light-blue;
}
.personal__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 87px;
  margin-top: 20px;
}
.personal__input {
  width: 313px;
  max-width: 100%;
}
.input {
  padding: 11px 20px;
  background-color: #fff;
  border: 1px solid $light-blue;
  font-size: 18px;
  line-height: 1;
}
.input::placeholder {
  color: #9e9a9a;
}
.address {
  margin-top: 40px;
}
.address__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 20px;
  margin-top: 20px;
}
.address__input {
  width: 100%;
}
.address__street,
.address__comment {
  grid-column-start: 1;
  grid-column-end: 5;
}
.date {
  margin-top: 40px;
}
.date__form {
  margin-top: 20px;
}
.date__calendar {
  padding: 11px 19px;
  width: 180px;
  height: 40px;
  background-color: #fff;
  border: 1px solid $light-blue;
  color: #9e9a9a;
  font-size: 18px;
  line-height: 1;
}
.date__calendar::-webkit-calendar-picker-indicator {
  background-image: url('/images/icons/calendar.svg');
}
.date__intervals,
.pay__methods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 20px;
  margin-top: 15px;
}
.date__input,
.pay__input {
  display: none;
}
.date__label,
.pay__label {
  display: block;
  padding: 11px 12px;
  width: 180px;
  height: 40px;
  background-color: #fff;
  border: 1px solid $light-blue;
  color: #9e9a9a;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}
.date__input:checked + .date__label,
.pay__input:checked + .pay__label {
  background-color: $dark-blue;
  color: #fff;
}
.pay {
  margin-top: 40px;
}
.pay__methods {
  justify-content: flex-start;
}
.order__bottom {
  margin-top: 40px;
}
.order__summ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.order__delivery,
.order__amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.order__summ,
.order__delivery {
  @extend %probapro-medium;
  font-size: 22px;
  line-height: 1;
}
.order__amount-price {
  @extend %probapro-bold;
  font-size: 30px;
  line-height: 1;
  color: $dark-blue;
}
.order__btn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  max-width: 100%;
  height: 60px;
  background: $dark-blue;
  text-transform: uppercase;
  color: #fff;
  border: none;
  transition: background 0.3s ease;
  cursor: pointer;
}
.order__btn:hover {
  background: $light-blue;
}
.success {
  padding: 100px 40px 40px;
  text-align: center;
}
.success__title {
  @extend %futurapt-bold;
  font-size: 48px;
  line-height: 1.3;
  color: $dark-blue;
}
.success__text {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 619px;
  max-width: 100%;
  font-size: 18px;
  line-height: 1;
}
.success__thanks {
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  width: 372px;
  max-width: 100%;
  @extend %probapro-bold;
  font-size: 30px;
  line-height: 1.26;
  color: $light-blue;
}
.success__back-btn {
  display: block;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px;
  width: 370px;
  max-width: 100%;
  height: 60px;
  background: $dark-blue;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  transition: background 0.3s ease;
}
.success__back-btn:hover {
  background: $light-blue;
}
// Order card end

@import 'media';
